$zeta-container-width: 100%;
$zeta-canvas-width: 100%;
$zeta-menu-width: 275px;

$zeta-global-background: #fff;//#f3efe0;
$zeta-header-font-color: #38935f;
$zeta-header-font-hover-color: #48b978;
$zeta-header-background: #F2F6F1;

$zeta-normal-font-color: #918e84;