#zeta-nav-bar {
  width: $zeta-menu-width;
  height: 100%;
  background: $zeta-header-font-color;
  position: fixed;
  //left: -300px;
  top: 0;
  transition: .5s ease all;
  transform: rotateY(-90deg);
  overflow: auto;
  z-index: 1000;

  #title {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
    font-family: 'Raleway', Arial;
  }

  #toggle {
    list-style: none;
    margin-top: 40px;
    padding-left: 0;
    
    ul {
      list-style: disc;
      padding-left: 0;
      //display: none;
      color: #fff;
      background: rgba(0,0,0,0.2);
      box-shadow: inset 0 -1px rgba(0,0,0,0);
      li {
        margin-left: 75px;
        &:focus {
          outline: none;
        }
        a {
          &:hover {
            background: #1f9d55;
          }
          margin-left: 0;
        }
      }
    }
    li {
      a {
        line-height: 41px;
        color: #fff;
        list-style: circle;
        width: 240px;
        padding: 0;
        margin: 0 0 0 25px;
      }
    }
    a {
      margin: 0 0 0 47px;
      padding: 0;
      font-family: 'Lato';
      color: #fff;
      line-height: 41px;
      font-weight: normal;
      font-size: 18px;
      text-decoration: none;
    }

    div {
      &:hover {
        background: rgba(0,0,0,0.2);
        box-shadow: inset 0 -1px rgba(0,0,0,0);
        color: #fff;
      }
      &:focus{
        outline: none;
      }
      cursor: pointer;
      display: block;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    div.active {
      background: #1f9d55;
    }
  }
  .border {
    border-top: 1px solid rgba(0,0,0,0.2);
  }
}