<!-- <navbar></navbar> -->
<div id="zeta-container" ng-class="{'display-zeta-nav': isNavVisible}">

  <fixed-header></fixed-header>

  <navbar></navbar>

  <div id="zeta-canvas">
    <div ui-view=""></div>
  </div>

</div>

<!-- <div id="container" ng-class="{'display-nav': isNavVisible}">
    <div id="nav" ng-controller="navigationController">
        <h2 id="title"><i class="fa fa-sitemap"></i>MENU</h2>
        <ul id="toggle">
            <li ng-repeat="(navItem, navDetail) in navigationConfig" ng-click="navSelectionHandler(navItem, navDetail)">
                <div ng-class="{'active border': navItem == selectedNavItem}" class="nav-menu-item-container">
                    <span class="{{navDetail.iconClass}}"></span> <a ng-href="{{navDetail.targetUrl}}">{{navDetail.viewName}}</a>
                    <span class="the-btn" ng-class="{'fa fa-plus': !navDetail.isSubNavVisible, 'fa fa-minus': navDetail.isSubNavVisible}" ng-if="navDetail.subNav"></span>
                    <ul ng-show="navDetail.isSubNavVisible" ng-if="navDetail.subNav" ng-animate="'animate'" class="slider" ng-click="subNavSelectionHandler($event)">
                        <li ng-repeat="subNavDetail in navDetail.subNav">
                            <a ng-href="{{subNavDetail.targetUrl}}">{{subNavDetail.viewName}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div id="canvas">
        <div ui-view></div>
    </div>
</div> -->
