#zeta-nav-header {
	transition: .5s ease all;

	#bars {
	  font-size: 2.5em;
	  margin: 1% 1% 1% 5%;
	  color: $zeta-header-font-color;
	  float:left;
	  &:hover {
	    color: $zeta-header-font-hover-color;
	    cursor: pointer;
	  }
	}

	.breadcrumb-area {
		margin-top: 2%;

		.breadcrumb {
			background: $zeta-global-background;
			display: inline;
		}
	}
}